name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkoutcode
      uses: actions/checkout@v4
      with: 
        fetch-depth: 0

    - name: Git Semantic Version
      uses: PaulHatch/semantic-version@v4.0.3
      with:
        major_pattern: "major:"
        minor_pattern: "feat:"
        format: "${major}.${minor}.${patch}-prerelease${increment}"
      id: version
      
    - name: Docker login
      env: 
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        NEW_VERSION: ${{ steps.version.ouputs.version }}
      run: | 
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
        echo "New Version: $NEW_VERSION!!!!!"

    #- name: Buld Docker Image
    #  run: |
    #    docker build --tag panda1982/docker-graphql:0.0.1 .
    #    docker build --tag panda1982/docker-graphql:latest .

    #- name: Push Docker Image
    #  run: |
    #    docker image push panda1982/docker-graphql:0.0.1
    #    docker image push panda1982/docker-graphql:latest
      
    # - name: Build the Docker image
    #  run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
